
<div class="container py-5">
    <div *ngIf="loading" class="row">
        <div class="col-12 py-5 my-5">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading" class="card mb-3">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="https://vieraboschkova.github.io/swapi-gallery/static/assets/img/people/{{ getId }}.jpg"  class="img-fluid rounded-start object-fit-cover w-100">
            </div>
            <div class="col-lg-7">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{result.name}}</h5>

                <table class="table table-striped table-hover">
                    <tr>
                        <td width="20%">Height</td>
                        <td width="5%">:</td>
                        <td>{{result.height}}</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>:</td>
                        <td>{{result.height}}</td>
                    </tr>
                    <tr>
                        <td>Mass</td>
                        <td>:</td>
                        <td>{{result.mass}}</td>
                    </tr>
                    <tr>
                        <td>Hair Color</td>
                        <td>:</td>
                        <td>{{result.hair_color}}</td>
                    </tr>
                    <tr>
                        <td>Skin Color</td>
                        <td>:</td>
                        <td>{{result.skin_color}}</td>
                    </tr>
                    <tr>
                        <td>Eye Color</td>
                        <td>:</td>
                        <td>{{result.eye_color}}</td>
                    </tr>
                    <tr>
                        <td>Birth Year</td>
                        <td>:</td>
                        <td>{{result.birth_year}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>:</td>
                        <td>{{result.gender}}</td>
                    </tr>
                    <tr>
                        <td>Homeworld</td>
                        <td>:</td>
                        <td>
                            {{homeworld?homeworld:'-'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">Films</td>
                        <td class="align-top">:</td>
                        <td>
                            <ng-container *ngIf="films.length==0"> - </ng-container>
                            <ul class="py-0 ms-2">
                               <li *ngFor="let list of films; let i = index">{{list}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">Species</td>
                        <td class="align-top">:</td>
                        <td>
                            <ng-container *ngIf="species.length==0"> - </ng-container>
                            <ul class="py-0 ms-2">
                               <li *ngFor="let list of species; let i = index">{{list}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">Vehicles</td>
                        <td class="align-top">:</td>
                        <td>
                            <ng-container *ngIf="vehicles.length==0"> - </ng-container>
                            <ul class="py-0 ms-2">
                               <li *ngFor="let list of vehicles; let i = index">{{list}}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">Starships</td>
                        <td class="align-top">:</td>
                        <td>
                            <ng-container *ngIf="starships.length==0"> - </ng-container>
                            <ul class="py-0 ms-2">
                               <li *ngFor="let list of starships; let i = index">{{list}}</li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <p class="card-text mb-0"><small class="text-muted">Created on {{result.created  | date:'d MMM y'}}</small></p>
                <p class="card-text mb-0"><small class="text-muted">Last updated {{result.edited  | date:'d MMM y'}}</small></p>
            </div>
            </div>
        </div>
    </div>


    <div *ngIf="!loading" class="d-grid gap-2">
        <a class="btn btn-secondary btn-fluid" routerLink="/">Back</a>
    </div>
</div>

<!-- {
    "name": "Darth Vader",
    "height": "202",
    "mass": "136",
    "hair_color": "none",
    "skin_color": "white",
    "eye_color": "yellow",
    "birth_year": "41.9BBY",
    "gender": "male",
    "homeworld": "https://swapi.dev/api/planets/1/",
    "films": [
        "https://swapi.dev/api/films/1/",
        "https://swapi.dev/api/films/2/",
        "https://swapi.dev/api/films/3/",
        "https://swapi.dev/api/films/6/"
    ],
    "species": [],
    "vehicles": [],
    "starships": [
        "https://swapi.dev/api/starships/13/"
    ],
    "created": "2014-12-10T15:18:20.704000Z",
    "edited": "2014-12-20T21:17:50.313000Z",
    "url": "https://swapi.dev/api/people/4/"
} -->

